.button {
    background: $light-blue;
    border: none;
    color: white;
    padding: $s-size;
    font-weight: 300;
    font-size: $font-size-large;
    text-decoration: none;
    display: inline-block;
    line-height: 1;
}

.box-layout__button {
    background-color: $light-blue;
    border: none;
}
.button--link {
    background: none;
}
.button--secondary {
    background: #888888;
}