
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$s-size: 1.2rem;

//font size
$font-size-large: 1.8rem;

$desktop-breakpoint: 45rem;

//color
$dark-blue: #364051;
$dark-gray: #333333;
$light-blue: rgb(3, 125, 192);
$off-white: #f7f7f7;
$grey: #666;